#!/bin/bash
# vim: syntax=bash

# Set bash to exit on the first error. This
# way we will immediately exit if something
# fails while we are installing.
set -e


# A helper function that will run a command, capture
# both stout & stderr to a variable. It will then check
# the return code of the command. If there was an error,
# it will print out the output and exit the script.
run() {
    cmd=$1
    output=$(eval $cmd 2>&1)
    if [ $? -ne 0 ]; then
       echo " ERROR"
       printf ">> $1\n"
       printf "$output\n"
       exit -1
    fi
}


# A helper function for installing all packages we want from the
# Ubuntu repositories. Requires only standard apt-get utilities.
install_packages_ubuntu() {
    echo -n "Installing packages using apt-get..."

    # PPA for fish & list of required packages
    FISH_PPA="ppa:fish-shell/release-3"
    PACKAGES="ripgrep fd-find bpython"

    run "sudo apt-add-repository -y $FISH_PPA" # Add the fish PPA to give us access to newer version.
    run "sudo apt-get -y install $PACKAGES"    # Install the packages using apt-get

    echo " done"
}


# TODO: comment
install_packages_fedora() {
    echo -n "Installing packages using dnf..."

    PACKAGES="ripgrep fd-find bpython"
    run "sudo dnf -y install $PACKAGES"

    echo " done"
}


sudo echo "Caching Sudo Credentials"

# Installing Packages from Repos
{{ if eq .osid "linux-ubuntu" }}     install_packages_ubuntu {{ end }}
{{ if eq .osid "linux-ubuntu-wsl" }} install_packages_ubuntu {{ end }}
{{ if eq .osid "linux-fedora" }}     install_packages_fedora {{ end }}

# TODO: settings for windows terminal
# TODO: copy alacritty settings to Windows location

