# vim: syntax=toml
{{ $name  := promptString "What is your full name" -}}
{{ $email := promptString "What is your email" -}}

# Build an "osid" string to identify what platform
# we are running on. Valid values are:
#    - linux-fedora
#    - linux-ubuntu
#    - darwin
#    - linux-fedora-wsl
#    - linux-ubuntu-wsl
{{ $osid := .chezmoi.os }}
{{ if hasKey .chezmoi.osRelease "id" }}
    {{ $osid = printf "%s-%s" $osid .chezmoi.osRelease.id }}
{{ end }}
{{ if hasKey .chezmoi.kernel "osrelease" }}
    {{ if (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
        {{ $osid = printf "%s-%s" $osid "wsl" }}
    {{ end }}
{{ end }}



[data]
    email  = {{ $email  | quote }}
    name   = {{ $name   | quote }}
    osid   = {{ $osid   | quote }}

[scriptEnv]
    DOTFILES_OSID = {{ $osid | quote }}
