#!/bin/bash
# vim: syntax=bash

# TODO: include sha of nvim, tmux, & fish configs, so this reloads if they change
# https://www.chezmoi.io/user-guide/use-scripts-to-perform-actions/#install-packages-with-scripts


# tmux.conf hash {{ include "private_dot_config/tmux/tmux.conf.tmpl" | sha256sum }} 
# tmp


# A helper function that will run a command, capture
# both stout & stderr to a variable. It will then check
#the return code of the command. If there was an error,
# it will print out the output and exit the script.
run() {
    cmd="$1"
    output=$($cmd 2>&1)
    if [ $? -ne 0 ]; then
       echo " ERROR"
       printf ">> $1\n"
       printf "$output\n"
       exit -1
    fi
}


# TODO: comment
install_packages_ubuntu() {
    echo -n "Installing packages using apt-get..."

    # PPA for fish & list of required packages
    FISH_PPA="ppa:fish-shell/release-3"
    PACKAGES="tmux fish ripgrep exa fd-find tree unzip build-essential coreutils bpython xclip"

    run "sudo apt-add-repository -y $FISH_PPA" # Add the fish PPA to give us access to newer version.
    run "sudo apt-get -y install $PACKAGES"    # Install the packages using apt-get

    echo " done"
}

# TODO: commend
install_packages_fedora() {
    echo -n "Installing packages using dnf..."

    PACKAGES="tmux fish ripgrep exa fd-find unzip bpython xclip"
    run "sudo dnf -y install $PACKAGES"

    echo " done"
}

# TODO: comment
install_neovim_ubuntu() {
    echo -n "Installing neovim..."

    # Install source & working location
    TEMP_DEB="$(mktemp)"
    NVIM_URL="https://github.com/neovim/neovim/releases/download/v0.8.0/nvim-linux64.deb"

    run "wget -q -O $TEMP_DEB $NVIM_URL" # Download the .deb
    run "sudo dpkg -i $TEMP_DEB"         # Install the .deb
    run "rm -f $TEMP_DEB"                # Cleanup

    echo " done"
}

# TODO: comment
install_neovim_fedora() {

    echo " done"
}

# TODO: comment
install_win32yank_wsl() {
    echo -n "Installing win32yank..."

    WIN32YANK_URL="https://github.com/equalsraf/win32yank/releases/download/v0.0.4/win32yank-x64.zip"
    WIN32YANK_ZIP="/tmp/win32yank.zip"
    WIN32YANK_INSTALL="/usr/local/bin/"

    run "curl -sLo $WIN32YANK_ZIP $WIN32YANK_URL"
    run "sudo unzip -u $WIN32YANK_ZIP win32yank.exe -d $WIN32YANK_INSTALL"
    run "sudo chmod a+x $WIN32YANK_INSTALL/win32yank.exe"
    run "rm -rf $WIN32YANK_ZIP"

    echo " done"
}

install_nerdfonts_fedora() {
    echo -n "Installing NerdFonts..."

    DEJAVU_URL="https://github.com/ryanoasis/nerd-fonts/releases/download/v2.2.2/DejaVuSansMono.zip"
    DEJAVU_ZIP="/tmp/DejaVuSansMono.zip"
    FONTS_DIR="$HOME/.local/share/fonts/"

    run "mkdir -p $FONTS_DIR"
    run "curl -sLo $DEJAVU_ZIP $DEJAVU_URL"
    run "unzip -u $DEJAVU_ZIP -d $FONTS_DIR"
    run "rm -rf $DEJAVU_ZIP"
    run "fc-cache -fv"

    echo " done"
}



# fisher plugin manager for fish shell & fish plugins
install_fisher() {
    echo -n "Installing fish plugin manager..."
    
    FISHER_URL="https://git.io/fisher"
    FISHER_SCRIPT="/tmp/fisher"

    run "curl -sLo $FISHER_SCRIPT $FISHER_URL"
    run "fish -c \"source $FISHER_SCRIPT && fisher install jorgebucaran/fisher\""
    run "rm -rf $FISHER_SCRIPT"

    # TODO: install (update) fish plugins

    run "fish -c \"fisher install ilancosman/tide@v5\""
    run "fish -c \"fisher update\""

    echo " done"
}

install_vimplug() {
    echo -n "Installing vimplug..."

    VIMPLUG_URL="https://raw.githubusercontent.com/junegunn/vim-plug/master/plug.vim"
    VIMPLUG_INSTALL="${XDG_DATA_HOME:-$HOME/.local/share}/nvim/site/autoload/plug.vim"

    run "curl -sfLo $VIMPLUG_INSTALL --create-dirs $VIMPLUG_URL"
    run "nvim +PlugInstall +PlugUpdate +qall"

    echo " done"
}



sudo echo "Caching Sudo Credentials"

# Installing Packages from Repos
{{ if eq .osid "linux-ubuntu" }}     install_packages_ubuntu {{ end }}
{{ if eq .osid "linux-ubuntu-wsl" }} install_packages_ubuntu {{ end }}
{{ if eq .osid "linux-fedora" }}     install_packages_fedora {{ end }}

# Installing Neovim Nightly Directly
{{ if eq .osid "linux-ubuntu" }}     install_neovim_ubuntu {{ end }}
{{ if eq .osid "linux-ubuntu-wsl" }} install_neovim_ubuntu {{ end }}
{{ if eq .osid "linux-fedora" }}     install_neovim_fedora {{ end }}

# Installing win32yank
{{ if eq .osid "linux-ubuntu-wsl" }} install_win32yank_wsl {{ end }}

# TODO: install fonts
{{ if eq .osid "linux-fedora" }}     install_nerdfonts_fedora {{ end }}
# If WSL, use powershell

# TODO: settings for windows terminal
# TODO: copy alacritty settings to Windows location

# Installing Plugin Managers & Plugins
{{ if eq .osid "linux-ubuntu" }}     install_fisher  {{ end }}
{{ if eq .osid "linux-ubuntu-wsl" }} install_fisher  {{ end }}
{{ if eq .osid "linux-fedora" }}     install_fisher  {{ end }}

{{ if eq .osid "linux-ubuntu" }}     install_vimplug {{ end }}
{{ if eq .osid "linux-ubuntu-wsl" }} install_vimplug {{ end }}
{{ if eq .osid "linux-fedora" }}     install_vimplug {{ end }}


############################
### Change shell to fish ###
############################
echo -n "Changing shell to fish..."
run "sudo chsh -s $(which fish) $USER"
echo " done"

